html, body{
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-weight:bold;
  font-family: monospace, arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
  touch-action: pan-x pan-y;
}
img {
  pointer-events:none;
}
.font{
  color: rgb(63, 68, 74);
}
.MomoPanel{
  border-radius: 10px 10px 10px 10px;
}
.TotalPositionCorrection{
  position: absolute;
  left: 10px;
  top: 10px;
}
.TitleBar {
  background-image: linear-gradient(to top,#f799ab , #fe899d);//rgb(247, 153, 171), rgb(254, 137, 157);
  mask: linear-gradient(black, black);
  border-radius: 10px 10px 0px 0px;
  z-index: 50;
  width: calc(100% - 20px);
  height: 70px;
}
.TitleFont{
  padding-left: 20px;
  left: 30px;
  color: #FFFFFF;
}
.TitleHelp{
  box-shadow: 1px 5px 10px gray;
  margin-left: 10px;
}
.TitleX{
  float:right;
  margin-right: 20px;
}
.Page{
  z-index: 25;
  border-radius: 10px 10px 10px 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
}
.PageBar{
  background-color: #4C5B70;
  text-align: center;
  border-radius: 15px 15px 0px 10px;
  width: 80px;
  height: 100%;
}
.PageIcon{
  z-index: 50;
  background-color: #4C5B70;
  padding-top: 10px;
  height: 60px;
}
.PageIconPro{
  background-color: #4C5B70;
  margin-top: 70px;
  padding-top: 15px;
  height: 60px;
}
.PageIconChat{
  background-color: #4C5B70;
  padding-top: 5px;
  height: 70px;
}
.UnReadMessage{
  position: relative;
  border-radius: 5px;
  margin-left: 25px;
  top: 10px;
  width: auto;
  z-index: 75;
  color: #FFFFFF;
  background-color: #fb4719;
}
.StudentList{
  background-color: #f6f6f6;
  margin-top: 70px;
  height: calc(100% - 70px);
  width: calc((100% - 80px) / 2);
  border-right-style: groove;
  border-width: 2px;
  border-color: #e0e3e5;
}
.StudentListPanel{
  width: 100%;
  height: calc(100% - 90px);
  overflow: auto;
}
.StudentListTitle{
  margin-left: 25px;
  display: flex;
  height: 80px;
  width: 90%;
  border-color: #EAEAEA;
  border-width: 2px;
  border-bottom-style: solid;
}
.StudentCount{
  position: relative;
  top: 15px;
  font-size: 30px;
  width: auto;
}
.Filter{
  position: relative;
  top: 15px;
  left: calc(((100% - 100px) / 2) - 140px);
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #FFFFFF;
  transform: skew(-10deg) translateX(10%);
  width: 140px;
  height: 45px;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -1px 2px 2px gray;
}
.FilterAllow{
  position: relative;
  width: 0;
  height: 0;
  top: 20px;
  left: calc(((100% - 100px) / 2) - 145px);
  display: block;
  border-left: 9px solid transparent;
  border-bottom: 10px solid #496f8f;
  border-right: 9px solid transparent;
  transform: rotate(50deg);
}
.Reverse{
  position: relative;
  top: 15px;
  left: calc(((100% - 100px) / 2) - 145px);
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #FFFFFF;
  transform: skew(-10deg) translateX(10%);
  width: 90px;
  height: 45px;
  font-size: 35px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -1px 2px 2px gray;
}
.StudentList-StudentBox{
  position: relative;
  display: flex;
  top: 5px;
  left: 20px;
  width: 90%;
  height: 95px;
  border-color: #EAEAEA;
  border-width: 1px;
  border-bottom-style: solid;
}
.EasyMessageViewer{
  position: relative;
  top: 20px;
  left: 30px;
  color: gray;
  height: 30px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.UnReadMessage-StudentBox{
  position: relative;
  float: right;
  text-align: center;
  border-radius: 5px;
  //margin-left: 70px;
  font-size: 25px;
  top: 30px;
  height: 32px;
  width: 32px;
  color: #FFFFFF;
  padding-top: 3px;
  background-color: #fb4719;
}
.StudentProfile{
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 0px;
  margin-top: 70px;
  width: calc((100% - 80px) / 2);
  height: calc(100% - 70px);
  overflow: auto;
}
.Chat{
  padding-top: 10px;
  height: calc(100% - 100px);
  overFlow-y: scroll;
}
.SettingBox{
  position: relative;
  height: 60px;
  width: 90%;
  margin-left: 25px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-color: #EAEAEA;
  border-width: 1px;
  border-bottom-style: solid;
}
::-webkit-scrollbar {
  width: 12px;
}
