html, body{
  margin: 0;
  padding: 0;
}
.MessageBox{
  margin-top: 5px;
  position: relative;
  display: flex;
  width: auto;
  height: auto;
}
.Avatar{
  position: relative;
  background-color: #00FF00;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  top: 10px;
  left: 10px;
}
.Name{
  position: relative;
  left: 30px;
  top: 10px;
  font-size: 20px;
}
.MessageAllow{
  position: relative;
  width: 0;
  height: 0;
  top: 23px;
  left: 23px;
  display: block;
  border-left: 5px solid transparent;
  border-bottom: 10px solid #4c5b6f;
  border-right: 5px solid transparent;
  transform: rotate(-90deg);
}
.MessageContent{
  display: inline-block;
  max-width: 250px;
  position: relative;
  background-color: #4c5b6f;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 5px;
  left: 30px;
  width: auto;
  height: auto;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 6px;
}
.MessageBoxUser{
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
  right: 10px;
}
.MessageAllowUser{
  position: relative;
  width: 0;
  height: 0;
  top: 17px;
  float: right;
  right: 2px;
  display: block;
  border-left: 5px solid transparent;
  border-bottom: 10px solid #4a8acb;
  border-right: 5px solid transparent;
  transform: rotate(90deg);
}
.MessageContentUser{
  display: inline-block;
  max-width: 250px;
  position: relative;
  background-color: #4a8acb;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 5px;
  //float: right;
  width: auto;
  height: auto;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 6px;
}
.MessageInputBox{
  position:fixed;
  bottom: 10px;
  display: flex;
  width: calc(((100% - 100px) / 2) - 12px);
  border-radius: 0px 0px 10px 0px;
  height: auto;
  background-color: #f6f6f6;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 7px;
}
.MessageInputText{
  position: relative;
  width: 80%;
  height: auto;
  border-radius: 30px;
  padding-top: 7px;
  padding-left: 15px;
  padding-bottom: 7px;
  resize: none;
  font-size: 15px;
  font-weight:bold;
  font-family: monospace, arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}
.SubmitBox{
  position: relative;
  width: 20%;
}
.MessageInputSubmit{
  position: relative;
  float: right;
  text-align: center;
  border-radius: 5px;
  width: 0;
  height: 0;
  display: block;
  top: 12px;
  right: 10px;
  border-left: 17px solid transparent;
  border-bottom: 30px solid #496fff;
  border-right: 17px solid transparent;
  transform: rotate(90deg);
}
.MessageTyping{
  display: flex;
  max-width: 250px;
  position: relative;
  background-color: #4c5b6f;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 5px;
  left: 30px;
  width: 50px;
  height: 30px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 6px;
}
.TypingDot0{
  position: relative;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 2px;
  background: lightgray;
  border-radius: 50%;
  animation-name: Dot0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes Dot0{
  0%	{top: 15px;}
  10%	{top: 15px;}
  40%	{top: 5px;}
  60%	{top: 5px;}
  90%	{top: 15px;}
  100%	{top: 15px;}
}
.TypingDot1{
  position: relative;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 10px;
  background: lightgray;
  border-radius: 50%;
  animation-name: Dot0;
  animation-duration: 1.5s;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes Dot1{
  0%	{top: 15px;}
  10%	{top: 15px;}
  40%	{top: 5px;}
  60%	{top: 5px;}
  90%	{top: 15px;}
  100%	{top: 15px;}
}
.TypingDot2{
  position: relative;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 18px;
  background: lightgray;
  border-radius: 50%;
  animation-name: Dot0;
  animation-duration: 1.5s;
  animation-delay: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes Dot2{
  0%	{top: 15px;}
  10%	{top: 15px;}
  40%	{top: 5px;}
  60%	{top: 5px;}
  90%	{top: 15px;}
  100%	{top: 15px;}
}
